In [2]:
import numpy as np
import plotly
import plotly.express as px
import uproot
import pandas as pd
from tqdm import tqdm
from pathlib import Path

In [3]:
data_path = Path('/home/alexj/data/hgcal-dev/hcal/1.0_noise_split')

In [4]:
dfs = [pd.read_pickle(f) for f in data_path.glob('*.pkl')]

In [5]:
df = pd.concat(dfs, ignore_index=True)

In [11]:
print(df['time'][df['time'] != -9999.0].std())
print(df['time'][df['time'] != -9999.0].mean())

8.158741
0.35379654

In [7]:
print(df[['x', 'y', 'z', 'time', 'energy']].std())
print(df[['x', 'y', 'z', 'time', 'energy']].mean())

x          119.310562
y          117.978790
z          286.380585
time      4961.749512
energy       2.077959
dtype: float32
x           -1.991564
y           -1.404704
z            0.642713
time     -4204.483887
energy       0.447480
dtype: float32

In [31]:
feats = df[['x', 'y', 'z', 'time', 'energy']]

In [32]:
mask = (feats['time'] == -9999.0)
stds = feats.std()
means = feats.mean()

In [33]:
nfeats = (feats - means) / stds

In [34]:
nfeats.loc[mask, 'time'] = -2

In [35]:
nfeats

                 x         y         z      time    energy
0         1.498213  0.344059 -0.029754 -2.000000 -0.215346
1         1.296532  0.836458 -0.029754  0.848072 -0.153511
2         0.832040  1.306193 -0.029754 -2.000000 -0.215346
3         0.717392  1.373132 -0.029754  0.844860  0.162854
4         0.345138  1.510151 -0.029754 -2.000000 -0.215346
...            ...       ...       ...       ...       ...
11083936 -0.262568  0.415233  1.701775  0.847736  0.727007
11083937 -0.468330  0.054819  1.701775  0.848995 -0.168828
11083938  0.085781  0.810509  1.823291  0.847149 -0.103317
11083939 -0.052397  0.810509  1.823291  0.847906  0.203067
11083940  0.151691 -0.497603  1.823291  0.847044 -0.130329

[11083941 rows x 5 columns]